[Unit]
Description=Fluidbox synthesizer
After=mulit-user.target

[Service]
User=pi
LimitRTPRIO=90
WorkingDirectory=/home/pi/fluidbox
ExecStart=/usr/bin/python3 /home/pi/fluidbox/fluidbox.py

[Install]
WantedBy=multi-user.target
